/* ======================== RESET========================= */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* deleting outline in some forse states */
/* :active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
} */
img {
  display: block;
}

:root {
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* logo */
.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo__span {
  color: var(--accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
  }
}

/*-------------------social links --------------   */
.social-links__list {
  display: flex;
  justify-content: center;
}

.social-links__list-item:not(:last-child) {
  margin-right: 10px;
}

.social-links__list-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--primary-icon-color);
  border-radius: 50%;
  background-color: transparent;
  transition: color 250ms var(--time-function), background-color 250ms var(--time-function);
}

.social-links__list-item-link:hover, .social-links__list-item-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-links__list-item-icon {
  margin: auto;
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.menu__button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--primary-white-color);
  border: none;
}

.buttom__icon--cross {
  display: none;
}

.menu__button.is-open .buttom__icon--cross {
  display: block;
}

.menu__button.is-open .buttom__icon--burger {
  display: none;
}

.menu-backdrop {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 101%;
  text-align: center;
  width: 100%;
  padding: 60px 0;
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: opacity 250ms var(--time-function);
}

.menu-backdrop.is-open {
  opacity: 1;
  pointer-events: visible;
}

.site-nav {
  margin-bottom: 55px;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav__item {
  display: flex;
  justify-content: center;
}

.site-nav__link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site-nav__link:after {
  content: '';
  margin-top: 8px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link.current-page {
  color: var(--accent-color);
}

.site-nav__link.current-page:after {
  opacity: 1;
}

/* address */
.address__item:not(:last-child) {
  margin-bottom: 16px;
}

.address__link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  font-style: normal;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}

.address__icon--mail {
  width: 16px;
  height: 12px;
}

.address__icon--smartphone {
  width: 10px;
  height: 16px;
}

.address__icon--mail {
  width: 16px;
  height: 12px;
}

.address__icon--mail--smartphone {
  width: 10px;
  height: 16px;
}

/* ======================== HERO ========================= */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  color: var(--primary-white-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 900;
  line-height: 1.619;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.615;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@1x.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk@1x.jpg");
    background-size: 1600px 600px;
  }
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk@2x.jpg");
  }
}

/* ======================== ADVANTAGES ========================= */
.advantages__list-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--accent-background-color);
  border-radius: 4px;
}

.advantages__list-item-icon {
  width: 70px;
  height: 70px;
}

.advantages__list-item-paragraph {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.857;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__list-item-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
  }
  .advantages__list-item {
    margin-bottom: 30px;
    outline: 1px solid red;
    width: calc((100% - 30px) / 2);
  }
  .advantages__list-item-wrapper {
    max-width: 354px;
  }
  .advantages__list-item-paragraph {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .advantages__list-item {
    margin-bottom: 0;
    outline: 1px solid red;
    width: calc((100% - 4 * 30px) / 4);
  }
  .advantages__list-item-wrapper {
    max-width: 270px;
  }
  .advantages__list-item-paragraph {
    text-align: left;
  }
}

.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    padding-top: 0;
  }
  .activity__list {
    display: flex;
    justify-content: space-between;
  }
  .activity__title {
    margin-bottom: 50px;
  }
  .activity__list-item {
    position: relative;
  }
  .activity__list-item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
}

/* ======================== OUR TEAM ========================= */
.our-team {
  background-color: var(--accent-background-color);
}

.our-team__title {
  margin-bottom: 30px;
}

.our-team__card-set-item {
  text-align: center;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.our-team__card-set-item-img {
  width: 100%;
}

.our-team__card-set-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

.our-team__card-set-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team__card-set-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team__card-set-item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
  }
  .our-team__card-set-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
  .our-team__card-set {
    margin-bottom: 0;
  }
  .our-team__card-set-item {
    margin-bottom: 0;
    flex-wrap: nowrap;
    width: calc((100% - 3 * 30px) / 4);
  }
  .our-team__card-set-wrapper {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */