/* ======================== RESET========================= */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* deleting outline in some forse states */
/* :active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
} */
img {
  display: block;
}

:root {
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding: 0 15px;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* logo */
.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo__span {
  color: var(--accent-color);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.menu__button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: var(--primary-white-color);
  border: none;
}

.buttom__icon--cross {
  display: none;
}

.menu__button.is-open .buttom__icon--cross {
  display: block;
}

.menu__button.is-open .buttom__icon--burger {
  display: none;
}

.menu-backdrop {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 101%;
  text-align: center;
  width: 100%;
  padding: 60px 0;
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: opacity 250ms var(--time-function);
}

.menu-backdrop.is-open {
  opacity: 1;
  pointer-events: visible;
}

.site-nav {
  margin-bottom: 55px;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav__item {
  display: flex;
  justify-content: center;
}

.site-nav__link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site-nav__link:after {
  content: '';
  margin-top: 8px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link.current-page {
  color: var(--accent-color);
}

.site-nav__link.current-page:after {
  opacity: 1;
}

/* address */
.address__item:not(:last-child) {
  margin-bottom: 16px;
}

.address__link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  font-style: normal;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__icon {
  margin-right: 10px;
  fill: currentColor;
}

.address__icon--mail {
  width: 16px;
  height: 12px;
}

.address__icon--smartphone {
  width: 10px;
  height: 16px;
}

.address__icon--mail {
  width: 16px;
  height: 12px;
}

.address__icon--mail--smartphone {
  width: 10px;
  height: 16px;
}
/*# sourceMappingURL=portfolio.css.map */