/* ======================== FOOTER ===================*/

.page-footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer .wrapper:not(:last-child) {
  margin-right: 70px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .logo {
  color: var(--primary-white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.page-footer .address .item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer .address .link {
  color: rgba(255, 255, 255, 0.6);

  @include font(14px, 400, 24px);
  font-style: normal;
  letter-spacing: 0.03em;
}

.page-footer .address .map-link {
  color: var(--primary-white-color);
  width: 231px;
}

.page-footer .invitation {
  display: block;
  margin-bottom: 20px;

  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.page-footer .link.icon {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.page-footer .subscribe-wrapper {
  margin-left: auto;
}

.page-footer .subscribe-form {
  display: flex;
}

.page-footer .subscribe-field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;

  @include font(16px, 700, 30px);
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  &::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/paper-plane.svg);
  }
}
